{% extends 'base.html.twig' %}

{% block body %}
    <h1>Access forbiden</h1>

    <p>
        The requested page couldn't be executed. Please sign in or <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}